/**
 * author : yangbo
 * date : 2020/05/28 12:58:09
 * fileName: index.less
 * description : 首页
**/

.content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: linear-gradient(210deg, #b0b3a2 0%, #979a87 47%, #9d9f92 100%);
}

.modification {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background: transparent;
    z-index: 3;

    .teacher {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        // background: url(../assets/index/teacher.png) left top no-repeat;
        // background-size: contain;

        img {
            display: block;
            width: 98%;
            height: auto;
            pointer-events: auto;
            cursor: pointer;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
        }

        .tbg {
            width: 100%;
            z-index: 1;
            top: 5px;
        }
    }

    .student {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50%;
        // background: url(../assets/index/student.png) right bottom no-repeat;
        // background-size: contain;

        img {
            display: block;
            width: 98%;
            height: auto;
            pointer-events: auto;
            cursor: pointer;
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 2;
        }

        .sbg {
            width: 100%;
            z-index: 1;
        }
    }

    .sub1,
    .sub2,
    .sub3,
    .sub4,
    .sub5,
    .sub6,
    .sub7,
    .sub8,
    .sub9 {
        position: absolute;
        z-index: 3;
    }

    .sub1 {
        width: 66px;
        height: 66px;
        bottom: 67px;
        left: 29.2%;
        background: url('../assets/index/sub1.png') left top no-repeat;
    }

    .sub2 {
        width: 259px;
        height: 107px;
        top: 0;
        left: 32.8%;
        background: url('../assets/index/sub2.png') left top no-repeat;
    }

    .sub3 {
        width: 54px;
        height: 54px;
        top: 190px;
        left: 59%;
        background: url('../assets/index/sub3.png') left top no-repeat;
    }

    .sub4 {
        width: 64px;
        height: 64px;
        top: 615px;
        left: 63%;
        background: url('../assets/index/sub4.png') left top no-repeat;
    }

    .sub5 {
        width: 259px;
        height: 69px;
        bottom: 0;
        right: 18.8%;
        background: url('../assets/index/sub5.png') left top no-repeat;
    }

    .sub6 {
        top: 133px;
        right: 30.2%;

        .sub_c1,
        .sub_c2 {
            position: absolute;
        }

        .sub_c1 {
            width: 138px;
            height: 136px;
            top: 17px;
            left: 0;
            background: url('../assets/index/sub6.png') left top no-repeat;
            background-size: contain;
        }

        .sub_c2 {
            width: 144px;
            height: 143px;
            top: 0;
            left: 31px;
            background: rgba(255, 255, 255, 0.25);
            border-radius: 50%;
        }
    }

    .sub7 {
        bottom: 378px;
        left: 18.07%;

        .sub_c1,
        .sub_c2 {
            position: absolute;
        }

        .sub_c1 {
            width: 159px;
            height: 157px;
            top: 27px;
            left: 54px;
            background: url('../assets/index/sub7.png') left top no-repeat;
            background-size: contain;
        }

        .sub_c2 {
            width: 169px;
            height: 168px;
            top: 0;
            left: 0;
            background: rgba(255, 255, 255, 0.25);
            border-radius: 50%;
        }
    }
}

.content_l,
.content_r {
    z-index: 2;
    user-select: none;
    cursor: pointer;

    span {
        font-size: 78px;
    }
}

.content_l {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    // background: #5f09ca;
    border-radius: 50%;
    transform: translateX(-50%);
    align-items: center;
    justify-content: flex-end;
    padding-right: 10%;
    transition: box-shadow 0.15s;

    &:hover {
        z-index: 1;
        box-shadow: 4px 4px 8px 5px rgba(0, 0, 0, 0.4);
    }

    span {
        color: #faed00;
    }
}

.content_r {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    // background: #faed00;
    border-radius: 50%;
    transform: translateX(50%);
    align-items: center;
    padding-left: 10%;
    transition: all 0.2s;

    &:hover {
        z-index: 1;
        box-shadow: -4px 4px 8px 5px rgba(0, 0, 0, 0.4);
    }

    span {
        color: #5f09ca;
    }
}

.input_group {
    width: 300px;
    padding: 35px 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .psd_check {
        display: block;
        background-color: #ccc;
        padding: 5px 15px;
        margin-left: 10px;
    }
}

// .banner {
//     display: block;
//     max-width: 100%;
//     max-height: 100%;
//     margin: auto;
// }
